       <!-- <% eventos.forEach((item, eventos) => { %>
    <div class="titulo">
        <img src='<%= item.local_imagem_titulo %>'>
        <% }) %>
    </div> -->
    <!-- <section id="book">
        <% albuns_a.forEach((item, albuns) => { %>
            <a class= "card" href="//<%= %>">
                <img src='<%= item.album_imagem %>'>
                <h3>
                    <p>Evento: <%= item.nome_album%></p>
                    <p>Data: <%= item.data_album %></p>
                    <p>Local: <%= item.local_album %></p>
                    <p>Nome do autor: <%= item.nome_autor %></p>
                </h3>
            <% }) %>
        </a>
        </section> -->